// $dominant-color: hsl(0, 0%, 100%);
// $complementary-color: hsl(161, 100%, 37%);
// $darker-complementary-color: hsl(172, 100%, 15%);
// $accent-color: hsl(196, 47%, 30%);
// $white-color: rgb(213,212,208);

//Buttons
$button-add: hsl(128, 96%, 28%);
$button-delete: hsl(2, 93%, 41%);
$button-update: hsl(224, 96%, 40%);

//Fonts
$darkGrey-color: #2B2A29;
$lightGrey-color: #BED9B7;
$white-color: rgb(255, 255, 255);


$complementary-color: #6ECE68;
$darker-complementary-color: #497C35;
$accent-color: #65B0A5;
$dominant-color: hsl(0, 0%, 100%);